$backgroundColor: white;

.menu__signup{
  width: 490px;
  height: 700px;
  margin-top: 112px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-color: $backgroundColor;
  border-radius: 7px;
  padding: 16px;
}