$backgroundColor: white;

body{
  font-size: px;
}

.menu__signup {
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 599px;
  margin-top: 128px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-color: $backgroundColor;
  border-radius: 9px;
  padding: 16px 32px 45px 32px;
}
.menu__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
  margin-top: 27px;
  height: 40px;
}
// .menu__button {
  
// }
.ant-btn{
  width: 100%;
  height: 40px !important;
  margin-top: auto !important;
  margin-bottom: 3px !important;
  border-radius: 6px !important;
}
.menu__footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #8c8c8c;
  margin-bottom: 0px;
  margin-top: auto;
}
.input {
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}
.checkbox {
  margin-bottom: 5px;
  // width: 100%;
  // box-sizing: border-box;
}
.input__checkbox {
  font-size: 13px;
  line-height: 14px;
}
.menu__form {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 500px;
}
