$backgroundColor: white;

.menu__signin {
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 374px;
  margin-top: 128px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-color: $backgroundColor;
  border-radius: 7px;
  padding: 16px;
}
.menu__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
  margin-top: 27px;
  height: 40px;
}
