.article {
  margin-top: 106px;
}
.ant-alert {
  align-items: center;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 18px !important;
  padding: 20px 135px !important;
  justify-content: center !important;
  font-size: 18px !important;
  width: 500px !important;
  border-radius: 7px !important;
}
