// @font-face {
//   font-family: "Inter";
//   src: url("../../fonts/Inter.ttf");
//   font-style: normal;
//   /* font-weight: normal; */
// }
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: white;
  padding: 15px 22px;
  border-bottom: 1px solid #f1eeee;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.header-root {
  display: flex;
  margin-right: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  // color: rgba(0, 0, 0, 0.85);
  color: rgba(39, 8, 39, 0.9);
}
.header-root:hover{
  scale: 1.02;
  cursor: pointer;
}