.preview {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px auto;
  margin-top: 26px;
  padding: 15px 15px 24px 19px;
  background-color: pink;
  width: 941px;
  height: 140px;
  border-radius: 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.preview__short-desc{
  display: flex;
  flex-direction: column;
  width: 80%;
  // border: 1px solid red;
}
.preview__user-info{
  display: flex;
  justify-content: space-between;
  min-width: 12%;
  // border: 1px solid green;  
}
.preview__name{
  margin-right: 7px;
}
.preview__user-info img {
  width: 36px;
  height: 36px;
}
.preview__user-info span{
  display: block;
}
.preview__title{
  font-family: Inter;
  font-weight: 400;
  font-style:  normal;
  font-size:  20px;
  line-height:  28px;
  color: #1890FF;
}
.preview__tags{
  width: 27px;
  height: 15px;
  border: 1px solid dimgray;
}
.preview__description{
  font-family: Inter;
  font-weight: 400;
  font-style:  normal;
  font-size:  12px;
  line-height:  24px;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}